@import url("./variables_CSS.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

input {
  border: none;
}

button {
  border: none;
}

/* ============Code chung cho class desc */
.desc_gray {
  color: var(--Dark_gray, #555);
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.desc_black {
  color: var(--Black, #000);
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.main_content {
  width: 1290px;
  margin: 0 auto;
  /* background-color: rgb(204, 165, 171); */
  display: block;
}
/* ======================code chung cho phần title============== */
.title_h1 {
  color: var(--Black, #000);
  font-family: Exo;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 57.6px */
  text-transform: capitalize;
}

.title_h2 {
  color: var(--Black, #000);
  font-family: Exo;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  text-transform: capitalize;
}

.title_h4 {
  color: var(--Black, #000);
  font-family: Exo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  text-transform: capitalize;
}

/* ==================code chung cho class btn ====================*/
.btn_primary {
  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: var(--Primary, #ff782d);

  color: var(--White, #fff);
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;

  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(182, 94, 36);
}

.btn_primary:hover {
  background-color: white;
  color: var(--Primary);
}

.btn_primary:active,
.btn_white:active {
  transform: scale(0.97);
}

.btn_white {
  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: white;

  color: var(--Primary);
  font-family: Jost;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;

  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(182, 94, 36);
}

.btn_white:hover {
  background-color: var(--Primary);
  color: var(--White);
}
