:root {
  --Primary: #ff782d;
  --Dark_gray: #555;
  --Black: #000;
  --White: #fff;
  --Box-shadow1: 0px 0px 5px 1px rgba(107, 106, 106, 0.3);
  --Box-shadow2: 0px 0px 5px 5px rgba(107, 106, 106, 0.3);
}
